<ul class="item-list">
    <%= component "shared/search-form" %>
    <% @authors.each do |a| %>
        <%= link_to author_path(a), class: "item" do %>
            <div class="item-content tag-list">
                <h6 class="subtitle color-orange"><%= a.name %></h6>
            </div>
            <div>
                <span class="number"><%= a.tag.posts_count %> <span class="number-unit">posts</span></span>
            </div>
        <% end %>
    <% end %>

    <%= paginate @authors %>

<<<<<<< HEAD
    <%= component "shared/items-per-page", {total_pages: @authors.total_pages} %>
=======
    <%= component "shared/sort", {sort_options: Author.sort_options} %>

    <%= component "shared/items-per-page",
        {
            total_pages: @authors.total_pages,
            keep_params: Author.sort_scopes
        }
    %>
>>>>>>> develop
</ul>
