
<div class="zone">
    <h4 class="title"><%= @user.name %>'s uploads</h4>
    <h6 class="subtitle">
        <span class="number"><%= @user.upload_count %></span> uploaded posts
    </h6>
</div>

<%= component "shared/post-list" %>

<%= paginate @posts %>

<%= component "shared/items-per-page",
    {
        total_pages: @posts.total_pages,
        keep_params: []
    }
%>
