<div class="zone">
    <h4 class="title">
        <%= component "anchor", {anchor: "tos"} do %>
            Terms of Service
        <% end %>
    </h4>
    <ul class="list">
        <li>The website reserves the right to change these terms at any time.</li>
        <li>You must be 16 years old or older in order to use this website.</li>
        <li>The website is presented to you AS IS, without any warranty, express or implied. You will not hold the site or its staff members liable for damages caused by the use of the site.</li>
        <li>The website reserves the right to delete or modify your <%= site_name.downcase %> account, or any content you have posted to the site.</li>
        <li>You understand that there may be content on the website that does not appeal to you or you feel is morally wrong.</li>
        <li>You accept that the website is not liable for any content that you may stumble upon.</li>
        <li>You are using this site only for personal use.</li>
        <li>You will not use any automated process to retrieve or index any portion of the site or site contents, with the exception of public search engines or web archives.</li>
        <li>The operators of the site are not entirely held to these terms.</li>
    </ul>
</div>
<div class="zone">
    <h4 class="title">
        <%= component "anchor", {anchor: "prohibited_content"} do %>
            Prohibited Content
        <% end %>
    </h4>
    <p class="p-lead">In addition, <strong>you may not</strong> use <%= site_name %> to upload any of the following content:</p>

    <ul class="list">
        <li><strong>NSFW</strong> (Not Safe for work): nudity or graphic content (violence/gore)</li>
        <li><strong>Pornography</strong>: Any content that depicts peoples in a sexual manner. This includes, but is not limited to: nudity, explicit sex, implied sex, or sexually  positions.</li>
        <li><strong>Child pornography</strong>: Any content that depicts children in a sexual manner. This includes, but is not limited to: nudity, explicit sex, implied sex, or sexually implicit positions.</li>
        <li><strong>Hate content/speech</strong>: Any content that explicitly or implicitly try to abuse or threaten an individual or a group of people.</li>
        <li><strong>Falsely watermarked:</strong> Any content where a person who is <strong>not the original copyright owner</strong>, a delegated individual or a delegated entity has placed a watermark on it.</li>
        <li><strong>Poorly compressed</strong>: Any image where compression artifacts ruins the quality of the artwork.</li>
    </ul>
    <p class="p-lead">
        <strong>This list is non-exhaustive, if a staff member judge your content to be inappropriate, the content will be deleted without notice or compensation.</strong>
    </p>
    <p>This list may be modified at any moment.</p>
    <p>
        "Content" in this page means any data: photo, drawing, movie, text, ascii art, encrypted files, steganography, etc.<br />
        "Content" in this page means through any media: post, nickname, biography, comment, link, tag, etc.
    </p>
</div>
<div class="zone">
    <h4 class="title">
        <%= component "anchor", {anchor: "agreement"} do %>
            Agreement
        <% end %>
    </h4>
    If you do not agree with the terms above, you have to leave the website.</a>.
</div>
