<div class="user_form zone">
  <h3>Sign up</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field tooltip">
      <span><%= fa_icon "user" %>USERNAME:</span>
      <%= f.text_field :name, autofocus: true, placeholder: "MyNickname" %>
      <div class="tip">displayed as your name to others</div>
    </div>

    <div class="field tooltip">
      <span><%= fa_icon "envelope" %>EMAIL:</span>
      <%= f.email_field :email, placeholder: "you@something.com" %>
      <div class="tip">Used to log-in and reset your password if forgotten</div>
    </div>

    <div class="field tooltip">
      <span><%= fa_icon "unlock-alt" %>PASSWORD:</span>
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      <div class="tip"><%= @minimum_password_length %> characters minimum</div>
    </div>

    <div class="field tooltip">
      <span><%= fa_icon "unlock-alt" %>CONFIRMATION:</span>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
      <div class="tip"><%= @minimum_password_length %> characters minimum</div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-blue" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
