<%= form_for @level, url: level_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :max_exp %>
  <%= f.number_field :max_exp %>
  <%= f.label :color %>
  <p> Please enter an hexadecimal color like #1AB or #1A2E5D </p>
  <%= f.text_field :color %>

  <div class="actions">
    <button class="btn btn-green" type="submit"> <%= text %></button>
  </div>
<% end %>
