<div class="parameters">
    <div class="parameters-section">
        <%= f.fields_for :permissions do |p| %>
            <div class="parameter">
                <%= p.check_box :consent, class: "parameter-checkbox hidden" %>
                <%= p.label :consent, class: "parameter-label" do %>
                    <div class="parameter-name">
                        <i class="far fa-square"></i> <%= p.object.permissions_type.name %>
                    </div>
                    <div class="parameter-purpose">
                        <%= p.object.permissions_type.description %>
                    </div>
                <% end %>
                <%= p.hidden_field :permissions_type_id %>
                <%= p.hidden_field :id %>
            </div>
        <% end %>
    </div>
</div>
