<div class="item-list">
    <%= component "shared/search-form" %>
    <% @users.each do |user| %>
        <%= link_to user_path(user.name), class: "item" do %>
            <div class="item-content">
                <h6 class="subtitle color-base">
                    <%= user.name %>
                    <span class="color-gray margin margin-left margin-sm"><%= user.role %></span>
                </h6>
            </div>
            <span class="number"><%= user.upload_count %><span class="number-unit"> posts</span></span>
        <% end %>
    <% end %>

    <%= paginate @users %>

<<<<<<< HEAD
    <%= component "shared/items-per-page", {total_pages: @users.total_pages}  %>
=======
    <%= component "shared/sort", sort_options: User.sort_options %>

    <%= component "shared/items-per-page",
        {
            total_pages: @users.total_pages,
            keep_params: User.sort_scopes
        }
    %>
>>>>>>> develop
</div>
