<div class="item-list">
    <form class="form">
        <div class="form-input-group">
            <input type="text" name="query" class="form-input" placeholder="Search users" value="<%= params[:query] %>"/>
            <button type="submit" class="button-icon">Search</button>
        </div>
    </form>
    <% @users.each do |user| %>
        <%= link_to user_path(user.name), class: "item" do %>
            <div class="item-content">
                <h6 class="subtitle color-base">
                    <%= user.name %>
                    <span class="color-gray margin margin-left margin-sm"><%= user.role %></span>
                </h6>
            </div>
            <span class="number"><%= user.upload_count %><span class="number-unit"> posts</span></span>
        <% end %>
    <% end %>
    <%= paginate @users %>
</div>
