
<div class="zone">
    <h4 class="title"><%= @user.name %>'s favorites</h4>
    <h6 class="subtitle">
        <span class="number"><%= @user.favorites.count %></span> favorited posts
    </h6>
</div>

<%= component "shared/post-list" %>

<%= paginate @posts %>

<<<<<<< HEAD
<%= component "shared/items-per-page", {total_pages: @posts.total_pages} %>
=======
<%= component "shared/sort", sort_options: Post.sort_options %>

<%= component "shared/items-per-page",
    {
        total_pages: @posts.total_pages,
        keep_params: Post.sort_scopes
    }
%>
>>>>>>> develop
