<div class="comment">
    <a class="anchor-id" id="comment_<%= index + 1 %>"></a>
    <div class="card comment-container">
        <div class="comment-metadata">
            <a href="<%= user_path(comment.user.name) %>" class="avatar">
                <% if comment.user.avatar.attached? %>
                    <%= image_tag comment.user.avatar, height: "60", width: "60" %>
                <% else %>
                    <img src="/images/default-user.png" height="60" width="60"/>
                <% end %>
            </a>
            <a href="#comment_<%= index + 1 %>" data-turbolinks="false" class="comment-index">#<%= index + 1 %></a>
        </div>
        <div class="comment-content">
            <a href="<%= user_path(comment.user.name) %>">
                <h5 class="comment-username"><%= comment.user.name %></h5>
                <h6 class="comment-subtitle subtitle subtitle-compact">
                    <span><%= comment.created_at.to_time.strftime('%B %e %Y at %l:%M %p') %></span>
                    <span><%= comment.user.role %></span>
                </h6>
            </a>
            <p class="comment-text"><%= comment.text %></p>
            <div class="comment-links">
                <%= link_to "report", comment_report_path(@post.number, comment), class:"report", method: :patch %>
            </div>
        </div>
    </div>
</div>
