<%= form_for @author, as: 'author', url: author_path(@author) do |f| %>
    <div class="zone">
        <h4 class="title title-compact">Edit author "<%= @author.name %>"</h4>
        <h6 class="subtitle">Informations:</h6>
        <div class="form-field">
            <label class="form-label">Name:</label>
            <%= f.text_field :name, class: "form-input", placeholder: "Name" %>
        </div>
        <div class="form-field">
            <label class="form-label">Biography</label>
            <%= f.text_area :biography, class: "form-textarea", placeholder: "Biography" %>
        </div>
        <div class="form-field">
            <label class="form-label">Website: </label>
            <%= f.text_field :website, class: "form-input", placeholder: "Name" %>
        </div>
        <div class="button-list button-list-right">
            <button type="submit" form="edit_author" class="button-primary">Update Author</button>
        </div>
    </div>
<% end %>
