
<%= form_for @post, url: create_post_path, html: {class: "zone post-new"} do |f| %>
    <h4 class="subtitle margin margin-bottom">
        Please, read and understand <a href="/wiki/rules">the rules</a> before posting anything.
    </h4>
    <div class="post-new-upload" data-controller="post-new" class="col-6">
        <%= f.file_field :post_image,
            required: "required",
            title: "File input",
            data: {
                target: 'post-new.input',
                action: 'change->post-new#input'
            }
        %>
        <% @post.errors.each do |attr, msg| %>
            <li><%= msg %></li>
        <% end %>
        <span class="post-new-md5" data-target="post-new.md5"></span>
        <a class="post-id" href="" data-target="post-new.postLink"></a>
        <div class="post-new-dummy">
            <label class="button-primary" for="post_post_image">Browse <i class="fa fa-folder-open"></i></label>
            <span class="post-new-invalid">
                No file selected
            </span>
            <span class="post-new-valid">Succesfully selected image</span>
        </div>
        <div class="post-new-file">
            <img data-target="post-new.file" />
        </div>
    </div>
    <div class="columns">
        <div class="col col-6 col-12-small padding">
            <div class="form">
                <h5 class="title"><i class="fa fa-tag"></i> Tags</h5>
                <div class="form-field">
                    <label class="form-label">Content</label>
                    <textarea class="form-textarea" name="tags" id="tags" placeholder='Tags ("1girl glasses ...")' autocomplete="off"><%= params[:tags] %></textarea>
                </div>
                <div class="form-field">
                    <label class="form-label">Character</label>
                    <textarea class="form-textarea" name="characters" placeholder='Characters ("illyasviel_von_einzbern ...")' autocomplete="off"><%= params[:characters] %></textarea>
                </div>
            </div>
        </div>
        <div class="col col-6 col-12-small padding">
            <div class="form">
                <h5 class="title"><i class="fa fa-info-circle"></i> Metadatas</h5>
                <div class="form-field">
                    <label class="form-label"><i class="fa fa-heading"></i> Title</label>
                    <%= f.text_field :title, autocomplete: :off, class: "form-input", placeholder: "Title" %>
                </div>
                <div class="form-field">
                    <label class="form-label"><i class="fa fa-user"></i> Author</label>
                    <%= f.text_field :author, name: :author, autocomplete: :off, class: "form-input", placeholder: "Author", value: params[:author] %>
                </div>
                <div class="form-field">
                    <label class="form-label"><i class="fa fa-rss"></i> Source</label>
                    <%= f.text_field :source, autocomplete: :off, class: "form-input", placeholder: "Source" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="text-align:right;">
        <button form="new_post" class="button-primary" type="submit">Upload <i class="fa fa-upload"></i></button>
    </div>
<% end %>
