<%= form_for @author, as: 'author', url: author_path(@author) do |f| %>
    <div class="zone">
        <div class="col-12">
            <h5>Edit author</h5>
            <p><%= fa_icon "list" %> Informations:</p>
            <br />
            <div class="field">
                <span><%= fa_icon "header" %> Name:</span>
                <%= f.text_field :name, placeholder: "Name" %>
            </div>
            <p><%= fa_icon "book" %> Biography:</p>
            <br />
            <div class="field_area">
                <%= f.text_area :biography, placeholder: "Biography" %>
            </div>
            <p><%= fa_icon "link" %> Websites:
            <span class="tooltip"><%= fa_icon "question-circle" %><span class="tip">One url per line.<br />Each url must be valid.<br />(example: http(s)://validurl.com)</span></p>
            <br />
            <div class="field_area">
                <textarea name="websites" id="author_websites" placeholder="Websites"><%= @websites %></textarea>
            </div>
            <button type="submit" form="edit_author" class="btn btn-pink">Update Author <%= fa_icon 'edit' %></button>
        </div>
    </div>
<% end %>
