<div class="author zone row">
        <div class="col-12">
            <h2 class="username"><%= @author.name %></h2>
            <br />
            <p>Biography: <%= @author.biography.empty? ? "none" : @author.biography %></p>
            <p>Posts: <%= @tag.posts_count %></p>
            <a class="btn btn-pink" href="<%= posts_path(query: @tag.names[0]) %>">All Posts<%= fa_icon "eye" %></a>
            <a class="btn btn-blue" href="<%= edit_author_path(@author) %>">Edit<%= fa_icon "edit" %></a>
        </div>

        <div class="col-6">
            <h5>Aliases</h5>
            <% if @names.length > 1 %>
                <% @names.each do |n| %>
                    <p><%= n %></p>
                <% end %>
            <% else %>
                <p>No aliases</p>
            <% end %>
        </div>

        <div class="col-6">
            <h5>Websites</h5>
            <% if !@websites.empty? %>
                <ul>
                    <% @websites.each do |w| %>
                        <li><a href="<%= w %>"><%= w %></a></li>
                    <% end %>
                </ul>
            <% else %>
                <p>No websites</p>
            <% end %>
        </div>

</div>
