<div class="userprofile">
    <div class="user_header clearfix" style="background-image: url(<%= image_url('header-img.jpg') %>)">
        <img class="avatar" src="<%= image_url('default_user.png') %>" width="120" height="120" />
        <div class="user_banner">
            <h3 class="username"><%= @user.name %></h3><span class="role"><%= @user.role %></span>
            <% if @current %>
                <a class="btn btn-blue" href="<%= edit_user_path %>"><%= fa_icon "edit" %> edit profile</a>
            <% end %>
        </div>
    </div>

    <div class="zone row">
        <h3 class="zone_title">Banned user</h3>
        <div class="col-12">
            <p>This user has been banned by a staff member.</p>
        </div>
    </div>
</div>

<% if user_signed_in? %>
    <%= cell(:admin_toolbar, @user).(:show_user) %>
<% end %>
