<div class="row list">
    <% @users.each do |user| %>
        <% cache ["index", user] do %>
            <ul>
                <li class="zone">
                    <%= link_to user_path(user.name), class: "title" do %>
                        <h5><%= user.name %></h5>
                    <% end %>
                    <div class="count">
                        <%= user.upload_count %> posts uploaded
                    </div>
                    <span><%= user.role %></span>
                </li>
            </ul>
        <% end %>
    <% end %>
    <div class="general_pagination">
        <%= paginate @users %>
    </div>
</div>
