<div class="userprofile">
    <div class="user_header clearfix" style="background-image: url()">
        <% if @user.avatar.attached? %>
            <img class="avatar" src="<%= url_for @user.avatar %>" width="120" height="120" />
        <% else %>
            <%= image_tag "/images/default_user.png", class: "avatar" %>
        <% end %>
        <% if @user.twitter != "" %>
            <a href="<%= @user.twitter %>" class="icon tooltip"><%= fa_icon "twitter" %><span class="tip">@<%= @user.twitter %></span></a>
        <% end %>
        <% if @user.facebook != "" %>
            <a href="<%= @user.facebook %>" class="icon tooltip"><%= fa_icon "facebook" %><span class="tip"><%= @user.facebook %></a>
        <% end %>
        <% if @user.website != "" %>
            <a href="<%= @user.website %>" class="icon tooltip"><%= fa_icon "link" %><span class="tip"><%= @user.website %></a>
        <% end %>
        <div class="user_banner">
            <h3 class="username"><%= @user.name %></h3><span class="role"><%= @user.role %></span>
            <% if @current %>
                <a class="btn btn-blue" href="<%= edit_user_path(@user.name) %>"><%= fa_icon "edit" %> edit profile</a>
            <% end %>
        </div>
    </div>

    <div class="zone biography">
        <h3 class="zone_title">About me</h3>
        <div class="col-6">
            <h6>biography</h6>
            <% if !@user.biography.blank? %>
                <p><%= @user.biography %></p>
            <% else %>
                <% if current_user == @user %>
                    <p>You can edit this text in your <%= link_to "account options", edit_user_path(id: @user.name) %>.</p>
                <% else %>
                    <p>No biography was provided by this user</p>
                <% end %>
            <% end %>
        </div>
        <div class="col-6">
            <h6>Level <%= @level.rank %>: <%= @level.name %></h6>
            <% if !@level.final %>
                <div class="progress_bar">
                    <div id="level_progress" data-count="<%= @user.exp %>" data-max="<%= @user.level.max_exp %>" class="progress" style="background: <%= @level.color %>"></div>
                </div>
            <% else %>
                <div class="progress_bar">
                    <div id="level_progress_final" class="progress" style="background: <%= @level.color %>; width: 100%"><p style="text-align:center;">FINAL LEVEL</p></div>
                </div>
            <% end %>
        </div>
    </div>

    <% cache @user do %>
        <div class="zone tags">
            <h3 class="zone_title">My Tags</h3>
            <div class="col-6">
                <h6>Favorites Tags</h6>
                <% if @favorites_tags.empty? %>
                    <p>Nothing here</p>
                <% else %>
                    <% @favorites_tags.each do |tag| %>
                        <span class="tag"><%= tag %></span>
                    <% end %>
                <% end %>
            </div>
            <div class="col-6">
                <h6>Blacklisted Tags</h6>
                <% if @blacklisted_tags.empty? %>
                    <p>Nothing here</p>
                <% else %>
                    <% @blacklisted_tags.each do |tag| %>
                        <span class="tag"><%= tag %></span>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="zone user_posts">
            <h3 class="zone_title">Posts</h3>
            <div class="col-6 favorites">
                <% if @user.favorites.any? %>
                    <h6>Favorites Posts <span>(<%= @user.favorites.count %>)</span></h6>
                    <a class="btn btn-blue" href="<%= favorites_path(@user.name) %>">View Favorites <%= fa_icon "eye" %></a>
                <% else %>
                    <h6>No favorites yet</h6>
                <% end %>
            </div>
            <div class="col-6 uploads">
                <% if @user.posts.any? %>
                    <h6>Uploaded Posts <span>(<%= @user.upload_count %>)</span></h6>
                    <a class="btn btn-blue" href="<%= uploads_path(@user.name) %>">View Uploads<%= fa_icon "eye" %></a>
                <% else %>
                    <h6>No uploads yet</h6>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= cell(:admin_toolbar, @user).(:show_user) %>
<% end %>
