<div class="posts">
    <div class="post-index clearfix">
        <% if !@posts.empty? %>
            <% @posts.each do |post| %>
                <% if params[:query] %>
                    <a title="<%= post.title %>" href="<%= post_path(post.number, query: params[:query]) %>" class="post-thumbnail clearfix" style="background-image: url(<%= url_for(post.post_image)%> )">
                        <div class="informations">
                            <h5><%= post.title %></h5>
                            <span class="post-stats">
                                <span title="overdose(s)"><%= post.overdose %> <%= fa_icon "heartbeat" %> </span>
                                <span title="shortage(s)"><%= post.moe_shortage %> <%= fa_icon "thumbs-down" %> </span>
                                <!-- TODO integrate post comment count -->
                                <span title="comment(s)"><%= @comments_counts[post.id] || 0 %> <%= fa_icon "comment" %></span>
                            </span>
                        </div>
                    </a>
                <% else %>
                    <% cache ["index", post] do %>
                        <a title="<%= post.title %>" href="<%= post_path(post.number) %>" class="post-thumbnail clearfix" style="background-image: url(<%= url_for(post.post_image)%> )">
                            <div class="informations">
                                <h5><%= post.title %></h5>
                                <span class="post-stats">
                                    <span title="overdose(s)"><%= post.overdose %> <%= fa_icon "heartbeat" %> </span>
                                    <span title="shortage(s)"><%= post.moe_shortage %> <%= fa_icon "thumbs-down" %> </span>
                                    <!-- TODO integrate post comment count -->
                                    <span title="comment(s)"><%= @comments_counts[post.id] || 0 %> <%= fa_icon "comment" %></span>
                                </span>
                            </div>
                        </a>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <div class="col-12">
                <h4 style="text-align: center;">No posts found</h4>
            </div>
        <% end %>
    </div>
    <form class="general_pagination" action="<%= posts_path %>">
        <%= paginate @posts %>
        <% if defined? @permited_posts_per_page %>
            <div>
                <span>posts per page </span>
                <% @permited_posts_per_page.each do |n| %>
                    <% if @posts_per_page == n %>
                        <input type="radio" name="posts_per_page" checked="checked" id=<%= n %> value=<%= n %>>
                    <% else %>
                        <input type="radio" name="posts_per_page" id=<%= n %> value=<%= n %>>
                    <% end %>
                    <label for=<%= n %>><%= n %></label>
                <% end %>
                <input type="submit" value="apply">
            </div>
        <% end %>
    </form>
</div>
