<h2> Reports of <%= @user.name %> </h2>
<p>List of all reports</p>

<p>
    <h5>User</h5>
    <span><a href="<%= user_path(@user.name) %>"><%= @user.name %></a></span> <br>
    <span class="button_list">
        <a href="<%= admin_user_unreport_path(@user) %>" class="btn btn-blue" data-method="post"><i class="fa fa-check-circle"></i>Unreport User</a>
        <% if @user.banned? %>
            <a class="btn btn-green" href="<%= admin_user_ban_path(@user)%>" data-confirm="Unban user <%= @user.name %>?" data-method="patch"><i class="fa fa-exclamation"></i>unban</a>
        <% else %>
            <a class="btn btn-red" href="<%= admin_user_ban_path(@user)%>" data-confirm="Ban user <%= @user.name %>?"  data-method="patch"><i class="fa fa-exclamation"></i>ban</a>
        <% end %>
    </span>
</p>
<ul class="admin_list comments">
    <% @reports&.each do |report| %>
        <li>
            <span class="text"><%= report.reason %></span>
            <br />
            <span><a href="<%= user_path(report.user.name) %>"><%= report.user.name %></a></span>
        </li>
    <% end %>
</ul>
