<div class="posts">
  <div class="post-container" style="background-image: url(<%= image_url(@post.post_image.url)%>)">
    <div class="post_navigation clearfix">
      <h2><%= @post.title %></h2>
    </div>
    <div class="post">
      <%= image_tag @post.post_image.url %>
    </div>
  </div>

  <div class="actions">
    <a class="btn btn-pink" href="<%= edit_admin_post_path(@post) %>"><%= fa_icon "edit"%>Edit the Post</a>
    <a class="btn btn-blue" href="<%= admin_post_unreport_path(@post) %>" data-method="patch"><%= fa_icon "check"%>Unreport this post</a>
    <a class="btn btn-red" href="<%= admin_post_path(@post)%>" data-method="delete"><%= fa_icon "exclamation"%>Delete this Post</a>
  </div>

  <ul class="infos">
    <h3><%= fa_icon "info-circle" %> Informations</h3>
    <li id="id"><span>id: </span><%= @post.id %></li>
    <% if @post.source != "" and @post.source != nil %>
      <li id="id"><span>source: </span><a href="http://www.google.fr/search?q=<%= @post.source %>" title="Search on google"><%= @post.source %></a></li>
    <% end %>
    <li id="id"><span>user: </span><%= link_to @post.user.name, user_path(@post.user.name) %></li>
    <li id="width-height"><span>dimension: </span><%= @post.width.to_s + " x " + @post.height.to_s %>px</li>
    <li id="type"><span>type: </span><%= @post.post_image_content_type.split("/")[-1].upcase %></li>
    <li id="size"><span>size: </span><%= '%.3f' % (@post.post_image_file_size.to_f / 1048576).to_s + ' MB' %></li>
    <li id="date"><span>date: </span><%= @post.post_image_updated_at.to_time.strftime('%B %e at %l:%M %p') %></li>
  </ul>
</div>

<input type="checkbox" class="lightbox_switch" id="zoom_post">
<label for="zoom_post" class="lightbox">
  <label for="zoom_post" class="close">close</label>
  <img src='<%= @post.post_image.url %>' title="Clic to close">
</label>
