
<div class="header-img">
    <ul>
        <li><%= link_to 'Posts', posts_path, title: 'Posts' %></li>
        <li><%= link_to 'Upload', new_post_path, title: 'Upload' %></li>
        <li><%= link_to 'Chat', chat_url, target: "_blank", title: 'Chat' %></li>
        <li><%= link_to 'About', "/pages/about", title: 'About' %></li>
        <li><%= link_to 'Help', "/pages/help/index", title: 'Help' %></li>
        <li>
            <%= link_to twitter_url, target: "_blank", title: 'Twitter' do %>
                <%= fa_icon "twitter"%>
            <% end %>
        </li>
    </ul>
</div>

<%= render 'static/search_home' %>

<div class="home-about row">
    <div class="col-6 col-sm">
        <div class="zone">
            <h2>About <%= site_name %></h2>
            <br />
            <br />
            <p>
                <%= site_name %> is a safe for work image board for cute anime style characters.
                If you need help using our website, you can find informations on the <a href="/pages/help/index">Help page</a>.
            </p>
            <br />
            <a href="<%= new_user_registration_path %>"class="btn btn-blue">Sign-Up <%= fa_icon "user-plus" %></a>
            <a href="<%= new_user_session_path %>" class="btn btn-blue">Sign-In <%= fa_icon "sign-in" %></a>
        </div>
    </div>

    <div class="col-6 col-sm">
        <div class="row zone">
            <h2><%= site_name %> is still under construction!</h2>
            <br />
            <div class="col-6">
                <p>
                    You will likely encounter bugs.<br />
                    If you do, please report them in the chat.
                </p>
                <br />
                <a href="<%= chat_url %>" class="btn btn-discord" target="_blank">Join the Chat
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 240"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/><path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/></svg>
                </a>
            </div>
            <div class="col-6">
                <p>
                    Our source code is made available for free under the Mozilla Public Licence 2.0
                </p>
                <br />
                <a href="https://github.com/eternialz/moeverdose" class="btn btn-pink" target="_blank">Source Code <%= fa_icon "github" %></a>
            </div>
        </div>
    </div>
</div>

<div class="zone cookies_disclaimer">
    <p>We use cookies to make <%= site_name %> work. By continuing you are agreeing to their uses. <a href="/pages/cookies">Read more here</a></p>
</div>

<% if !@news.empty? %>
    <div class="zone news">
        <h2 class="small-title">NEWS</h2>
        <% @news.each do |n| %>
            <div class="new">
                <h3><%= n.title %></h3>
                <p><%= n.text %></p>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="zone news">
        <p class=" small-title" style="float: none; text-align: center; margin: 10px;">No news</p>
    </div>
<% end %>
