<div class="posts">
  <div class="post-container">
    <div class="post_navigation clearfix">
      <h2><%= @post.title %></h2>
    </div>
    <div class="post">
      <%= image_tag @post.post_image %>
    </div>
  </div>

  <div class="actions">
    <a class="btn btn-pink" href="<%= edit_admin_post_path(@post) %>"><%= fa_icon "edit"%>Edit the Post</a>
    <a class="btn btn-blue" href="<%= admin_post_unreport_path(@post) %>" data-method="patch"><%= fa_icon "check"%>Unreport this post</a>
    <a class="btn btn-red" href="<%= admin_post_path(@post)%>" data-method="delete"><%= fa_icon "exclamation"%>Delete this Post</a>
  </div>
</div>
