<div class="article">
    <div class="article-part">
        <h2 class="title">Before submitting a takedown notice</h2>
        <p>
            If you want your content to be removed from <%= site_name %> because the copyright author weren't given credit for it,
            you can instead change the attributed author of a post. This will create a new author profile.
            You will be able to edit informations such as the author biography and website link(s).
            If the author was correctly attributed but the informations about him/her were wrong, you can also edit them.
        </p>

        <div class="alert">
            Please take in account that an <strong>exception to copyright</strong> may apply on your content (fair use, fair dealing, ...) before you submit your claim.
            <%= site_name %> team can appreciate the fair usage of a post and dismiss your claims.
            If you think our decision was wrong, please contact us.
        </div>
    </div>
    <div class="article-part">
        <h2 class="title">About the process</h2>
        <ol class="step-list">
            <li class="step-list-step">Submit a takedown for a post using the <strong>unique identifier</strong> attributed to it.</li>
            <li class="step-list-step">The post is immediatly hidden from the public and no one can view it. The name you filled in your takedown notice is displayed instead.</li>
            <li class="step-list-step">To prevent abuse of this system, the post uploader is notified and can then dismiss or accept your takedown notice.</li>
            <li class="step-list-step">If the uploader accepts it, the post is deleted permanently.</li>
            <li class="step-list-step">If the uploader dismisses your request, the post is shown again and you are notified. You can choose between two different options:</li>
            <ol class="step-list">
                <li class="step-list-step">You can submit a takedown notice indefinitely for the same post.</li>
                <li class="step-list-step">You can contact us directly (using Discord for exemple) and prove your identity using means available only to the copyright owner or its representative for the post to be deleted directly.</li>
            </ol>
        </ol>
    </div>
    <div class="article-part">
        <h2 class="title">FAQ</h2>
        <h5 class="subtitle">What is the post unique identifier and how to find it ?</h5>
        <blockquote>
            To make your claim, you need to find the infringing post unique identifier or ID. It correspond to the number displayed in the url of each post.
            For exemple, a post at the url "/posts/564" will have the ID of 564. It can also be found in the "Informations" section, under each post page.
        </blockquote>
        <h5 class="subtitle">Why can the uploader cancel my takedown notice?</h5>
        <blockquote>
            As features like these are often abused on different websites by third party who are neither the uploader,
            nor the author or its representative, we let our users decide what the best solution is.
            This status quo lasts until either of the parties involved prove their identity by contacting us through our Discord server or if the conflict is resolved through legal means.
        </blockquote>
        <h5 class="subtitle">How do I prove my identity?</h5>
        <blockquote>
            There are many ways to do this:
            <ul class="step-list">
                <li>Submit physical originals of the work.</li>
                <li>Use your official profiles on different social networks like Twitter to contact us directly.</li>
                <li>If your work is already protected using a third party service, you can use it.</li>
            </ul>
        </blockquote>
        <h5 class="subtitle">Can I prevent all my works from being posted here?</h5>
        <blockquote>
            For the moment, it is impossible but we are planning to design a system were an author tag is impossible to use to upload a post.
            This will prevent user from posting under your name after you have signaled it to us but it won't prevent user from miscrediting it.
        </blockquote>
        <h5 class="subtitle">Can I retract my claim?</h5>
        <blockquote>
            Using your profile, you can view all the claims you made. You can delete each claim individually and it will instantly make the post available again.
        </blockquote>
        <h5 class="subtitle">How can I contact your team ?</h5>
        <blockquote>
            If trying to make a claim to get your content removed doesn't work, you can contact us through Discord.
            To do this, you don't need a Discord account and you can <a href="https://discord.gg/xfCpyJY">join our server</a> as a guest.
        </blockquote>
    </div>
    <div class="article-part">
        <h2 class="title">Submit a takedown notice</h2>
        <% if signed_in? %>
            <div class="alert alert-danger">
                Do not make false claims. Abusing this system can result in supension of your account and legal consequences.
                All your claims can be canceled if you wrongly claim one or more works.
            </div>
            <%= form_with url: claims_path, method: :post, class: "form" do %>
                <div class="actions">
                    <div class="form-field">
                        <label class="checkbox"><%= check_box_tag :accept_conditions %><span></span> I understand that lying about my rights can and will get me punished.</label>
                    </div>
                    <div class="form-field">
                        <label class="checkbox"><%= check_box_tag :certify_ownership %><span></span> I am the copyright owner or rightful representative of the content I claim.</label>
                    </div>
                    <div class="form-field">
                        <label class="form-label" for="number"><i class="fa fa-hashtag"></i> Post ID</label>
                        <%= number_field_tag :post_number, nil, class: "form-input" %>
                    </div>
                    <div class="align-right">
                        <button class="button-important button-white margin margin-top" type="reset">Reset</button>
                        <%= button_to "Submit claim", data: {confirm: "Are you sure you want to submit this claim?"} %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>You need to <strong><%= link_to "create an account", new_user_registration_path %></strong> to submit a takedown notice.</p>
            <p>It is necessary for us to confirm your email address to notify you of the status of your claim.</p>
        <% end %>
    </div>
</div>
