<div class="zone">
    <div class="tag-list">
        <span class="tag tag-author"><%= @author.tag.name %></span>
        <% @author.tag.names.each do |n| %>
            <span class="tag tag-alias"><%= n %></span>
        <% end %>
    </div>
    <h2 class="title color-orange"><%= @author.name %></h2>
    <h6 class="subtitle">Biography</h6>
    <p class="p-lead margin margin-bottom"><%= @author.biography.blank? ? "none" : @author.biography %></p>
    <% unless @website.blank? %>
        <h6 class="subtitle">Website</h6>
        <a href="<%= @author.website %>"><%= @author.website %></a>
    <% end %>
    <div class="button-list margin margin-top">
        <a class="button-secondary" href="<%= posts_path(query: @author.tag.names[0]) %>">All Posts<i class="fa fa-eye"></i></a>
        <a class="button-secondary" href="<%= edit_author_path(@author) %>">Edit<i class="fa fa-edit"></i></a>
        <a class="button-secondary" href="<%= edit_tag_path(@author.tag) %>">Edit aliases<i class="fa fa-edit"></i></a>
    </div>
</div>

<%= component "shared/post-list" %>

<%= paginate @posts %>

<%= component "shared/sort", sort_options: Post.sort_options %>

<%= component "shared/items-per-page",
    {
        total_pages: @posts.total_pages,
        keep_params: Post.sort_scopes
    }
%>

