<h2 class="title">Received takedown notices</h2>
<div class="item-list margin margin-2 margin-bottom">
    <% if @received_claims.each do |c| %>
        <%= link_to claim_path(c), class: 'item' do %>
            <div class="item-content">
                Post id: <%= c.post.number %>
            </div>
            <div class="item-content align-right claim-status-<%= c.status %>">
                <%= c.status %>
            </div>
        <% end %>
    <% end.empty? %>
        You have no posts that are subject to an open tokedown notice
    <% end %>

    <%= paginate @received_claims %>

    <%= component "shared/items-per-page",
        {
            total_pages: @received_claims.total_pages,
            keep_params: []
        }
    %>
</div>

<h2 class="title">Emitted takedown notices</h2>
<div class="item-list">
    <% if @emitted_claims.each do |c| %>
        <%= link_to claim_path(c), class: "item" do %>
            <div class="item-content">
                <%= c.post.number %>
            </div>
        <% end %>
    <% end.empty? %>
        You have not emitted any takedown notices
    <% end %>

    <%= paginate @emitted_claims %>

    <%= component "shared/items-per-page",
        {
            total_pages: @emitted_claims.total_pages,
            keep_params: []
        }
    %>
</div>
