<%= form_for @user, as: @user, url: user_path(current_user.name), html: {class: "userprofile edit", method: :patch } do |f| %>
  <div class="user_header clearfix">
    <img class="avatar" src="<%= @user.avatar %>" width="120" height="120" />
    <div class="user_banner">
      <button for="submit" class="action action-green tooltip"><%= fa_icon "save" %> Save profile<span class="tip">before saving, please fill your current password</span></button>
      <%= f.password_field :current_password, placeholder: "current password", autocomplete: "off" %>
      <h3><%= @user.name %></h3><br />
      <p><%= @user.role %> | Last seen: <%= @user.current_sign_in_at.to_time.strftime('%B %e at %l:%M %p') %></p>
    </div>
  </div>

  <%= devise_error_messages! %>

  <input type="radio" name="tabs" class="hide" id="profile" checked>
  <div class="user_option" id="profiles">
    <ul class="user_edit_nav">
      <li><label for="profile" class="active">Public Profile</label></li>
      <li><label for="account">Account</label></li>
      <li><label for="tag">Tag options</label></li>
      <li><label for="security">Security</label></li>
    </ul>
    <div class="row">
      <%= image_tag @user.avatar, id: "avatar" %>
      <%= f.file_field :avatar %>
    </div>
    <div class="row">
      <%= image_tag @user.banner, id: "banner" %>
      <%= f.file_field :banner %>
    </div>
    <div class="row clearfix">
      <div class="column">
        <div class="field_area">
          <p><%= fa_icon "user" %> About me:</p>
          <%= f.text_area :name, placeholder: "1boy" %>
        </div>
        <div class="field">
          <%= f.text_field :website, placeholder: "https://mywebsite.me" %>
          <span><%= fa_icon "link" %> website url:</span>
        </div>
        <div class="field">
          <%= f.text_field :twitter, placeholder: "@twitter" %>
          <span><%= fa_icon "twitter" %> twitter profile:</span>
        </div>
        <div class="field">
          <%= f.text_field :facebook, placeholder: "https://www.facebook.com/my.profile" %>
          <span><%= fa_icon "facebook" %> Facebook url:</span>
        </div>
      </div>
      <div class="column">
        <div class="field_area">
          <p><%= fa_icon "tag" %> favorite tags:</p>
          <%= f.text_area :name, placeholder: "1girl brown_hair" %>
        </div>
        <p>Favorites tags are displayed as buttons to you when uploading a post to quickly add tags to the post. Replace spaces by underscores and use spaces to separate tags.</p>
      </div>
      <div class="column">
        <div class="field_area">
          <p><%= fa_icon "tag" %> blacklisted tags:</p>
          <%= f.text_area :name, placeholder: "1boy" %>
        </div>
        <p>Posts with a blacklisted tag won't be displayed in the post list if you are logged-in. Replace spaces by underscores and use spaces to separate tags.</p>
      </div>
    </div>
  </div>

  <input type="radio" name="tabs" class="hide" id="account">
  <div class="user_option" id="accounts">
    <ul class="user_edit_nav">
      <li><label for="profile">Public Profile</label></li>
      <li><label for="account" class="active">Account</label></li>
      <li><label for="tag">Tag options</label></li>
      <li><label for="security">Security</label></li>
    </ul>
    <div class="field">
      <span>Email:</span>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <input type="radio" name="tabs" class="hide" id="tag">
  <div class="user_option" id="tags">
    <ul class="user_edit_nav">
      <li><label for="profile">Public Profile</label></li>
      <li><label for="account">Account</label></li>
      <li><label for="tag" class="active">Tag options</label></li>
      <li><label for="security">Security</label></li>
    </ul>
    <div class="field">
      <!-- Fav tags -->
      <!-- Blacklisted tags -->
      <!-- Fav tags -->
    </div>
  </div>

  <input type="radio" name="tabs" class="hide" id="security">
  <div class="user_option" id="securitys">
    <ul class="user_edit_nav">
      <li><label for="profile">Public Profile</label></li>
      <li><label for="account">Account</label></li>
      <li><label for="tag">Tag options</label></li>
      <li><label for="security" class="active">Security</label></li>
    </ul>
    <!-- Display fav tags on profile -->
    <!-- Display blacklisted tags on profile -->
    <p>If you want to change your password, fill the followings fields. Your password need to be at leat <%= @minimum_password_length %> characters long.
    <div class="field">
      <span>New password:</span>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div class="field">
      <span>Confirmation:</span>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
<% end %>
