<div class="search-form tags-form clearfix">
    <form method="get" action="<%= posts_path %>" id="search">
        <input id="tags" type="text" name="query" placeholder="Search by tags separated by spaces" value="<%= params[:query] %>"/>
        <button type="submit" form="search" value="Submit"><%= fa_icon "search" %></button>
        <input type="checkbox" id="advanced_search">
        <label for="advanced_search"><%= fa_icon "chevron-right" %></label>
        <div class="tag_list">
            <div class="col-4">
                <h5>Tags</h5>
                <% @tags.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
            <div class="col-4">
                <h5>Characters</h5>
                <% @characters.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
            <div class="col-4">
                <h5>Authors</h5>
                <% @authors.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
        </div>
    </form>
</div>
