<div class="search-form clearfix">
    <form method="get" action="<%= posts_path %>" id="search">
        <input id="tags" type="text" name="query" placeholder="Search by tags separated by spaces" value="<%= params[:query] %>"/>
        <button type="submit" form="search" value="Submit"><%= fa_icon "search" %></button>
        <input type="checkbox" id="advanced_search">
        <label for="advanced_search"><%= fa_icon "chevron-right" %></label>
        <div class="tag_list">
            <div class="col-4">
                <h5>Tags</h5>
                <% @tags.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
            <div class="col-4">
                <h5>Characters</h5>
                <% @characters.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
            <div class="col-4">
                <h5>Authors</h5>
                <% @authors.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                <% end %>
            </div>
        </div>
    </form>
</div>

<script>
    $(".tag").click( function addRemoveTag() {
        var choice = jQuery.trim($(this).text());
        var input = $("#tags");

        // if the <li> with the word was allready clicked, then remove its "selected" class
        input.val(function(_, val) {
            if (val.indexOf(choice) >= 0) {
                var text = val;
                var re = new RegExp(choice, "g"); // all occurence of choice
                text = text.replace(re, ''); // remove all occurence of choice
                text = text.replace(/  /g, ' '); // change all double space to one space

                return text;
            } else {
                return val.replace(/  /g, ' ') + choice + ' '; // add
            }
        });
    });
</script>
