<div class="row posts">
  <div class="post-container clearfix">
    <% @posts.each do |post| %>
      <div class="post-thumbnail  clearfix">
        <%= image_tag post.post_image.url(:thumb) %>
        <a title="<%= post.title %>" href="<%= post_path(post) %>" class="informations">
          <h3><%= post.title %></h3>
          <span class="post-stats">
            <span title="overdose(s)"><%= post.overdose %> <%= fa_icon "heartbeat" %> </span>
            <span title="shortage(s)"><%= post.moe_shortage %> <%= fa_icon "thumbs-down" %> </span>
            <!-- TODO integrate post comment count -->
            <span title="comment(s)"><%= 0 %> <%= fa_icon "comment" %></span>
          </span>
        </a>
      </div>
    <% end %>
  </div>
  <%= form_tag(posts_path, {:method => "get", :class => "search_form"}) do%>
    <input type="checkbox" name="search_on" id="search_form">
    <label for="search_form" id="search_form_label"><%= fa_icon "search" %> search</label>
    <div>
      <button value="value" type="submit"><%= fa_icon "search"%> send search</button>
      <div class="tag_search row">
        <div class="f6 column tag clearfix">
          <h3 class="pink">Tags:</h3>
          <input type="text" name="search[tags]">
          <ul class="tags">
            <% @tags.each do |tag| %>
              <li><a><%= tag %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="f6 column character">
          <h3 class="blue">Characters:</h3>
          <input type="text" name="search[characters]">
          <ul class="characters">
            <% @characters.each do |character| %>
              <li><a><%= character %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <input type="checkbox" name="advanced_on" id="advanced_search">
      <label for="advanced_search" id="advanced_search_label">more search options<br /><%= fa_icon "angle-down" %></label>
      <div class="advanced_search row">
        <div class="column f3">
          <div class="advanced_field" title="Name of the author">
            <p>Author:</p>
            <input name="search[author]" type="text" placeholder="author name">
          </div>
          <div class="advanced_field" title="Name of the user">
            <p>Uploaded by:</p>
            <input name="search[uploader]" type="text" placeholder="user name">
          </div>
        </div>
        <div class="column f3">
          <div class="advanced_field" title="Minimum number of overdoses">
            <p>Moe overdoses:</p>
            <input name="search[overdoses]" type="number" min="0" placeholder="min">
          </div>
          <div class="advanced_field" title="Maximum number of shortage">
            <p>Moe shortage:</p>
            <input name="search[shortages]" type="number" min="0" placeholder="max">
          </div>
        </div>
        <div class="column f3">
          <div class="advanced_field" title="Minimum width of posts in pixels">
            <p>Mininmum width:</p>
            <input name="search[min-width]" type="number" min="200" max="10000" value="200" step="25">
          </div>
          <div class="advanced_field" title="Maximum width of posts in pixels">
            <p>Maximum width:</p>
            <input name="search[max-width]" type="number" min="200" max="10000" value="10000" step="25">
          </div>
        </div>
        <div class="column f3">
          <div class="advanced_field" title="Mininmum height of posts in pixels">
            <p>Mininmum height:</p>
            <input name="search[min-height]" type="number" min="200" max="10000" value="200" step="25">
          </div>
          <div class="advanced_field" title="Maximum height of posts in pixels">
            <p>Maximum height:</p>
            <input name="search[max-height]" type="number" min="200" max="10000" value="10000" step="25">
          </div>
        </div>
      </div>
      <label for="advanced_search" id="advanced_search_label"><%= fa_icon "angle-up" %><br />less search options</label>
    </div>
  <% end %>
</div>
