<div class="row posts-index">
  <div class="post-container">
    <% 64.times do %>
      <div class="post-thumbnail">
        <img src="<%= image_url('post-default.jpg') %>" border="0" height="200px" width="200px"/>
        <a  href="<%= post_path(1) %>" class="informations">
          <h3>Titresssssssssssssssssssssssssssssssssssssssssssssss</h3>
          <span class="post-stats">
            <span>666 <%= fa_icon "heart" %></span>
            <span>404 <%= fa_icon "eye" %></span>
          </span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="space">
</div>


<form class="search stick">
  <div class="search-container">
    <input type="text" name="tags" class="search-post" placeholder='Search by tags ("1girl glasses")'>
    <input type="text" name="characters" class="search-post" placeholder='Search by characters ("illyasviel_von_einzbern")'>
    <input type="text" name="authors" class="search-post" placeholder='Search by author ("hayao_miyazaki")'>
    <div class="tags-panel">
      <div class="advanced-search">
        <!-- Search by size and post type -->
      </div>
      <header>
        <h3 class="tags">Contents</h3>
        <h3 class="characters">Characters</h3>
        <h3 class="authors" style="width: 20%;">Authors</h3>
        <a id="close" title="close"><%= fa_icon "times" %></a>
        <a id="help" title="Need help?">help</a>
      </header>
      <div class="content">
        <ul class="tags">
          <li><a>Loli</a></li>
          <li><a>Lolis</a></li>
          <li><a>3 Lolis</a></li>
          <li><a>4 Lolis</a></li>
          <li><a>5 Lolis</a></li>
          <li><a class="highlight">6 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
          <li><a>7 Lolis</a></li>
        </ul>
        <ul class="characters">
          <li><a class="highlight">Mira</a></li>
          <li><a>Mira</a></li>
          <li><a>Mira</a></li>
          <li><a>Mira</a></li>
          <li><a>Mira</a></li>
          <li><a>Mira</a></li>
          <li><a>Mira</a></li>
        </ul>
        <ul class="authors">
          <li><a>Hayao Miyazaki</a></li>
          <li><a>Hayao Miyazaki</a></li>
          <li><a class="highlight">Hayao Miyazaki</a></li>
          <li><a>Hayao Miyazaki</a></li>
          <li><a>Hayao Miyazaki</a></li>
          <li><a>Hayao Miyazaki</a></li>
          <li><a>Hayao Miyazaki</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>
