<%= form_for @post, url: posts_path, html: {class: "zone upload clearfix"} do |f| %>
  <div id="file_upload">
    <%= f.file_field :post_image, required: "required" %>
    <div class="file-dummy">
      <span class="success">Nice! <br /><span id="message">Please respect the rules for posts while uploading</span></span>
      <span class="normal"><%= fa_icon "image" %> Click to select the image or drop it here<br /><span id="message">waiting for image...</span></span>
    </div>
    <img id="file"/>
  </div>
  <div id="info_upload" class="row">
    <div class="field">
      <span><%= fa_icon "header" %> Title :</span></h3>
      <input type="text" name="post[title]" placeholder='Title' autocomplete="off">
    </div>
    <div class="field">
      <span><%= fa_icon "user" %> Author :</span></h3>
      <input type="text" name="author" placeholder='Author' autocomplete="off"></textarea>
    </div>
    <div class="field">
      <span><%= fa_icon "rss" %> Source :</span>
      <input type="text" name="post[source]" placeholder='Source ( it will be used as a link to search on google )' autocomplete="off"></textarea>
    </div>
    <div class="field_area">
      <p><%= fa_icon "tag" %> Tags</p>
      <textarea name="tags" placeholder='Tags ("1girl glasses ...")' autocomplete="off"></textarea>
    </div>
    <div class="field_area">
      <p><%= fa_icon "group" %> Character(s)</p>
      <textarea name="characters" placeholder='Character(s) ("illyasviel_von_einzbern ...")' autocomplete="off"></textarea>
    </div>
  </div>
  <div style="text-align:center;">
    <button form="new_post" class="btn btn-pink" type="submit">Upload <%= fa_icon "upload" %></button>
  </div>
<% end %>

<script>
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#file').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#post_post_image").change(function(){
    readURL(this);
});
</script>
