<form class="upload clearfix">
  <div id="file_upload">
    <input type="file" name="files" id="files" required="required" accept="image/*" />
    <div class="file-dummy">
      <span class="success">Nice! <br /><span id="message">Please respect the rules for posts while uploading</span></span>
      <span class="default"><%= fa_icon "image" %> Click to select the image or drop it here<br /><span id="message">waiting for image...</span></span>
    </div>
    <img id="file"/>
  </div>
  <div id="info_upload" class="row">
    <div class="header column f6">
      <h3><%= fa_icon "header" %> Title<span>required</span></h3>
      <input type="text" name="title" placeholder='Title'></textarea>
    </div>
    <div class="authors column f6">
      <h3><%= fa_icon "user" %> Author<span>required</span></h3>
      <input type="text" name="author" placeholder='Author ("hayao_miyazaki")'></textarea>
    </div>
    <div class="tags column f6">
      <h3><%= fa_icon "tag" %> Tags<span>required (at least three)</span></h3>
      <textarea placeholder='Tags ("1girl glasses")'></textarea>
    </div>
    <div class="characters column f6">
      <h3><%= fa_icon "group" %> Character(s)</h3>
      <textarea placeholder='Characters ("illyasviel_von_einzbern")'></textarea>
    </div>
  </div>
  <div style="text-align:center;">
    <input type="submit" class="btn" value="Upload">
  </div>
</form>

<script>
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#file').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#files").change(function(){
    readURL(this);
});
</script>
