<div class="row posts">
  <div class="post-container" style="background-image: url(<%= image_url(@post.post_image.url)%>)">
    <% if @post.report == true %>
      <input class="reported_input" id="report_form_input" type="checkbox">
      <div class="reported">
        <p>This post have been reported by <%= @post.report_user.name %> for:</p>
        <p><%= @post.report_reason %></p>
        <label for="report_form_input" class="btn">Show post</label>
      </div>
    <% end %>
    <div class="post">
      <h2><%= @post.title %></h2>
      <%= image_tag @post.post_image.url %>
      <div class="post-info clearfix">
      <div class="infos">
        <span id="id">ID:<%= @post.id %></span>
        <span id="width-height"><%= @post.width.to_s + " x " + @post.height.to_s %>px</span>
        <span id="type"><%= @post.post_image_content_type.split("/")[-1].upcase %></span>
        <span id="size"><%= '%.3f' % (@post.post_image_file_size.to_f / 1048576).to_s + ' MB' %></span>
        <span id="date"><%= @post.post_image_updated_at.to_time.strftime('%B %e at %l:%M %p') %></span>
      </div>
      <span><%= fa_icon "upload" %> Uploaded by: <%= link_to @post.user.name, user_path(@post.user.name) %></span>
      <% if @post.source != "" %>
        <span><%= fa_icon "file" %> Source: <%= @post.source %></span>
      <% end %>
      </div>
    </div>
    <div id="post-score" class="clearfix">
      <div class="overdose_bar clearfix" style="width: <%= @overdose %>%">
        <span class="overdose_score"><%= @post.overdose %></span>
      </div>
      <a class="overdose"><%= fa_icon "heartbeat" %> MOE OVERDOSE</a>
      <div class="shortage_bar clearfix" style="width: <%= @shortage %>%">
        <span class="shortage_score"><%= @post.moe_shortage %></span>
      </div>
      <a class="shortage">MOE SHORTAGE <%= fa_icon "thumbs-down" %></a>
    </div>
    <div class="post-details row">
      <div class="f3 column tags">
        <h3><%= fa_icon "tag" %> Tags</h3>
        <% @tags.each do |tag| %>
          <a class="tag"><%= tag %></a>
        <% end %>
      </div>
      <div class="f3 column characters">
        <h3><%= fa_icon "group" %> Character(s)</h3>
        <% @characters.each do |character| %>
          <a class="tag"><%= character %></a>
        <% end %>
      </div>
      <div class="f3 column authors">
        <div class="author">
          <h3><a><%= fa_icon "user" %> Author: <%= @post.author.name %></a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a><%= fa_icon "link" %> website</a><a><%= fa_icon "user-plus" %> profile</a>
        </div>
      </div>
      <div class="f3 column actions">
        <h3><%= fa_icon "bolt" %> Actions</h3>
        <label class="action action-green" for="post_edit"><%= fa_icon "edit" %> Edit post</label>
        <a href="<%= @post.post_image.url %>" download class="action action-green"><%= fa_icon "download" %> Download</a>
        <a class="action action-green" id="add_to_favorites"><%= fa_icon "heart" %> Add To Favorites</a>
        <a class="action action-green"><%= fa_icon "search" %> More from the same author</a>
        <a href="https://www.google.fr/searchbyimage?site=search&image_url=<%= request.domain + @post.post_image.url %>" class="action action-green"><%= fa_icon "google" %> Search image on google</a>
        <label for="report_form_input" class="action action-green"><%= fa_icon "close" %> Report post</label>
        <a class="action action-pink previous"><%= fa_icon "arrow-circle-left" %> Previous</a>
        <a class="action action-pink right next">Next <%= fa_icon "arrow-circle-right" %> </a>
      </div>
    </div>
    <input type="checkbox" id="post_edit">
    <%= form_for @post, as: "post", url: post_path(@post) do |post| %>
      <h2>Edit Post</h2>
      <h3><%= fa_icon "header" %> Title<span class="required">required</span></h3>
      <%= post.text_field :title, placeholder: "Title" %>
      <h3><%= fa_icon "rss" %> Source</h3>
      <%= post.text_field :source, placeholder: "Source" %>
      <h3><%= fa_icon "user" %> Author<span class="required">required</span></h3>
      <input name="author_tag" type="text" placeholder="Author name" value="<%= @post.author.name %>">
      <h3><%= fa_icon "tag" %> Tags<span class="required">required (at least three)</span></h3>
      <textarea name="tags" placeholder='Tags ("1girl glasses")'><% @tags.each do |tag| %><%= tag + " " %><% end %></textarea>
      <h3><%= fa_icon "group" %> Character(s)</h3>
      <textarea name="characters" placeholder='Characters ("illyasviel_von_einzbern")'><% @characters.each do |character| %><%= character + " " %><% end %></textarea>
      <div style="text-align:center;"><input class="btn" type="submit" value="Modifier le Post"></div>
    <% end %>
  </div>

  <input class="reported_input" id="report_form_input" type="checkbox">
  <%= form_for @post, as: "post", url: report_post_path(@post), html: {class: "zone report_form", id: 'report_post'} do |post| %>
    <%= post.check_box :report, class: "hide", checked: true %>
    <h2><%= fa_icon "exclamation-circle" %> Report post</h2>
    <%= post.text_area :report_reason, placeholder: "Reason" %>
    <input class="btn" type="submit" value="Report post">
  <% end %>

  <div class="comments zone">
    <h2><%= fa_icon "comments-o" %> Commentaires</h2>
    <div class="comments-zone">
      <% @post.comments.each_with_index do |comment,index| %>
        <div class="comment">
          <a href="<%= user_path(comment.user.name) %>" title="<%= comment.user.name %>"><img class="avatar" src="<%= comment.user.avatar(:thumb) %>" title="<%= comment.user.name %>" height="60" width="60"/></a>
          <div class="comment-content">
            <a href="<%= user_path(comment.user.name) %>" id="comment_<%= index +1 %>" ><h5 class="<%= comment.user.role %>"><%= comment.user.name %></h5></a><span class="comment_number"> comment #<%= index + 1 %></span>
            <p><%= comment.text %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%= form_tag post_comments_path(@post), class: "comment-form" do |comment| %>
      <label for="add_comment"><h3>Add a comment<span id="char_count">Maximum 500 characters</span></h3></label>
      <textarea id="add_comment" name="comment[text]" placeholder="Write your message here "></textarea>
      <div class="button-zone">
        <input class="btn" type="submit" value="Send">
      </div>
    <% end %>
  </div>
</div>
