<%= content_for :cards do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@moeverdose" />
    <meta name="twitter:creator" content="@moeverdose" />
    <meta name="twitter:title" content="<%= @post.title %>" />
    <meta name="twitter:description" content="Post uploaded by <%= @post.user.name %>" />
    <meta name="twitter:image" content="<%= request.base_url + @post.post_image.url %>" />

    <meta property="og:title" content="<%= @post.title %>" />
    <meta property="og:type" content="image" />
    <meta property="og:description" content="Post uploaded by <%= @post.user.name %>" />
    <meta property="og:site_name" content="Moeverdose" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= request.base_url + @post.post_image.url %>" />
<% end %>

<div class="row posts">
    <%= render 'posts/search' %>
    <% cache @post do %>
        <div class="post-container">
            <div class="post_navigation clearfix">

                <% if @post.title != '' %>
                    <h2><%= @post.title %></h2>
                <% else %>
                    <h2>Post id <%= @post.number %></h2>
                <% end %>

                <a id="previous" href="/posts/<%= @post.number + 1 %>"class="btn btn-pink previous"><%= fa_icon "arrow-circle-left" %> Previous</a>
                <a id="next" href="/posts/<%= @post.number - 1 %>" class="btn btn-pink next">Next <%= fa_icon "arrow-circle-right" %></a>
            </div>

            <div class="post">
                <% if @post.report == true %>
                    <input class="reported_input" id="report_form_input" type="checkbox">
                    <div class="reported">
                        <p>This post have been reported by <%= link_to @post.report_user.name, user_path(id: @post.report_user.name) %> for:</p>
                        <br />
                        <p><%= @post.report_reason %></p>
                        <br />
                        <label for="report_form_input" class="btn btn-pink">Show post <%= fa_icon 'eye' %></label>
                    </div>
                <% end %>
                <div class="post-img">
                    <%= image_tag @post.post_image.url %>
                </div>
            </div>

            <div id="post-score" class="clearfix">
                <div class="overdose_bar clearfix" style="width: 50%">
                    <span class="overdose_score"><%= @post.overdose %></span>
                </div>
                <div class="shortage_bar clearfix" style="width: 50%">
                    <span class="shortage_score"><%= @post.moe_shortage %></span>
                </div>
            </div>
            <div class="post-details">
                <div class="post_vote clearfix">
                    <button class="overdose dose btn btn-pink" data-dose="overdose"><%= fa_icon "heartbeat" %> OVERDOSE</button>
                    <button class="shortage dose btn btn-blue" data-dose="shortage">SHORTAGE <%= fa_icon "thumbs-down" %></button>
                </div>
            </div>
        </div>

        <div class="zone row post-details">
            <div class="col-6">
                <h5><%= fa_icon "book" %> Description</h5>
                <% if @post.description != "" %>
                    <p><%= @post.description %></p>
                <% else %>
                    <p style="text-align: center">No description added</p>
                <% end %>
            </div>

            <div class="col-3 social_sharing">
                <h5><%= fa_icon "share" %> Share</h5>
                <!-- Buffer -->
                <a href="https://bufferapp.com/add?url=<%= request.original_url %>" target="_blank" class="btn-social btn-buffer">
                    <svg fill="#FFF" height="16px" viewBox="0 0 24 24" width="16px"><g><path d="M22.8,11.3l-2.1-1c-0.4-0.2-0.9-0.2-1.3,0l-7.1,3.2c-0.2,0.1-0.4,0.1-0.5,0l-7.1-3.2c-0.4-0.2-0.9-0.2-1.3,0l-2.1,1   c-0.3,0.1-0.5,0.4-0.5,0.8c0,0.3,0.2,0.6,0.5,0.8l10.1,4.6c0.2,0.1,0.4,0.1,0.7,0.1s0.5-0.1,0.7-0.1l10.1-4.6   c0.3-0.1,0.5-0.4,0.5-0.8C23.3,11.7,23.1,11.4,22.8,11.3z"/><path d="M22.8,17.2l-2.1-1c-0.4-0.2-0.9-0.2-1.3,0l-7.1,3.2c-0.2,0.1-0.4,0.1-0.5,0l-7.1-3.2c-0.4-0.2-0.9-0.2-1.3,0l-2.1,1   c-0.3,0.1-0.5,0.4-0.5,0.8c0,0.3,0.2,0.6,0.5,0.8l10.1,4.6c0.2,0.1,0.4,0.1,0.7,0.1c0.2,0,0.5-0.1,0.7-0.1l10.1-4.6   c0.3-0.1,0.5-0.4,0.5-0.8C23.3,17.6,23.1,17.3,22.8,17.2z"/><path d="M1.2,6.9l10.1,4.6c0.2,0.1,0.4,0.1,0.7,0.1s0.5-0.1,0.7-0.1l10.1-4.6c0.3-0.1,0.5-0.4,0.5-0.8c0-0.3-0.2-0.6-0.5-0.8   l-10-4.6c-0.5-0.2-1-0.2-1.5,0l-10,4.6C0.9,5.4,0.7,5.7,0.7,6.1C0.7,6.4,0.9,6.7,1.2,6.9z"/></g></svg>
                </a>

                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank" class="btn-social btn-facebook"><%= fa_icon "facebook" %></a>

                <!-- Reddit -->
                <a href="http://reddit.com/submit?url=<%= request.original_url %>" target="_blank" class="btn-social btn-reddit"><%= fa_icon "reddit" %></a>

                <!-- Tumblr-->
                <a href="http://www.tumblr.com/share/link?url=<%= request.original_url %>" target="_blank" class="btn-social btn-tumblr"><%= fa_icon "tumblr" %></a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=<%= request.original_url %>" target="_blank" class="btn-social btn-twitter"><%= fa_icon "twitter" %></a>
            </div>

            <div class="col-3 actions">
                <h5><%= fa_icon "bolt" %> Actions</h5>
                <a class="action btn btn-pink" id="add_to_favorites"><%= fa_icon "heart" %> Add Favorite</a>
                <a class="action btn btn-green" href="<%= @post.post_image.url %>" download><%= fa_icon "download" %> Download</a>
                <a class="action btn btn-yellow" target="_blank" href="https://www.google.fr/searchbyimage?site=search&image_url=<%= @post.post_image.url %>"><%= fa_icon "google" %>Search image</a>
                <% if user_signed_in? %>
                    <label class="action btn btn-blue" for="post_edit"><%= fa_icon "edit" %> Edit post</label>
                    <label class="action btn btn-red" for="report_form_input"><%= fa_icon "close" %> Report post</label>
                <% end %>
            </div>
        </div>
    <% end %>

    <% if user_signed_in? %>
        <%= cell(:admin_toolbar, @post, role: current_user.role).(:show_post) %>
    <% end %>

    <% if user_signed_in? %>
        <input type="checkbox" id="post_edit">
        <%= form_for @post, as: "post", url: post_path(@post.number) do |post| %>
            <div class="zone row">
                <div class="col-12">
                    <h5>Edit Post</h5>
                    <p><%= fa_icon "list" %> Informations:</p>
                    <div class="field">
                        <span><%= fa_icon "header" %> Title:</span>
                        <%= post.text_field :title, placeholder: "Title" %>
                    </div>
                    <div class="field">
                        <span><%= fa_icon "user" %> Author:</span>
                        <% unless @post.author.blank? %>
                        <input name="author_tag" type="text" placeholder="Author name" value="<%= @post.author.name %>">
                        <% else %>
                        <input name="author_tag" type="text" placeholder="Author name">
                        <% end %>
                    </div>
                    <div class="field">
                        <span><%= fa_icon "rss" %> Source:</span>
                        <%= post.text_field :source, placeholder: "Source" %>
                    </div>
                    <div class="field_area">
                        <p><%= fa_icon "book" %> Description:</p>
                        <%= post.text_area :description, placeholder: 'Description: short history, translations ...' %>
                    </div>
                    <div class="field_area">
                        <p><%= fa_icon "tag" %> Tags:</p>
                        <textarea name="tags" placeholder='Tags ("1girl glasses")'><% @tags.each do |tag| %><%= tag + " " %><% end %></textarea>
                    </div>
                    <div class="field_area">
                        <p><%= fa_icon "group" %> Character(s):</p>
                        <textarea name="characters" placeholder='Characters ("illyasviel_von_einzbern")'><% @characters.each do |character| %><%= character + " " %><% end %></textarea>
                    </div>
                    <button type="submit" form="edit_post" class="btn btn-pink" type="submit">Modifier le post <%= fa_icon 'edit' %></button>
                </div>
            </div>
        <% end %>

        <input class="reported_input" id="report_form_input" type="checkbox">
        <%= form_for @post, as: "post", url: report_post_path(@post.number), html: {class: "zone report_form field_area", id: 'report_post'} do |post| %>
            <%= post.check_box :report, class: "hide", checked: true %>
            <h2><%= fa_icon "exclamation-circle" %> Report post</h2>
            <%= post.text_area :report_reason, placeholder: "Reason" %>
            <button type="submit" form="report_post" class="btn btn-red" type="submit">Report <%= fa_icon 'exclamation' %></button>
        <% end %>
    <% end %>


    <% cache "post-info-#{@post.updated_at}" do %>
        <div class="zone row">
            <div class="post-details row">
                <div class="col-4 tags">
                    <h3><%= fa_icon "tag" %> Tags</h3>
                    <% if @tags.any? %>
                        <% @tags.each do |tag| %>
                            <a class="tag" href="<%= posts_path(query: tag ) %>"><%= tag %></a>
                        <% end %>
                    <% else %>
                        <p style="text-align: center; padding-top: 20px;">no tags specified </p>
                    <% end %>
                </div>

                <div class="col-4 characters">
                    <h3><%= fa_icon "group" %> Character(s)</h3>
                    <% if @characters.any? %>
                        <% @characters.each do |character| %>
                            <a class="tag" href="<%= posts_path(query: character ) %>"><%= character %></a>
                        <% end %>
                    <% else %>
                        <p style="text-align: center; padding-top: 20px;">no characters specified </p>
                    <% end %>
                </div>

                <ul class="col-4 infos">
                    <h3><%= fa_icon "info-circle" %> Informations</h3>
                    <li id="id"><span>id:</span><%= @post.number %></li>

                    <% unless @post.author.blank? %>
                        <li id="author"><span>author:</span><a  href="<%= posts_path(query: @post.author.name )%>" title="Search on google"><%= @post.author.name %></a></li>
                    <% else %>
                        <li id="author"><span>author:</span>unknown author</li>
                    <% end %>

                    <% if @post.source != "" and @post.source != nil %>
                        <li id="id"><span>source:</span><a href="http://www.google.fr/search?q=<%= @post.source %>" title="Search on google"><%= @post.source %></a></li>
                    <% end %>

                    <li id="user"><span>user:</span><%= link_to @post.user.name, user_path(@post.user.name) %></li>
                    <li id="width-height"><span>dimension:</span><%= @post.width.to_s + " x " + @post.height.to_s %>px</li>
                    <li id="type"><span>type:</span><%= @post.post_image_content_type.split("/")[-1].upcase %></li>
                    <li id="size"><span>size:</span><%= '%.3f' % (@post.post_image_file_size.to_f / 1048576).to_s + ' MB' %></li>
                    <li id="date"><span>date:</span><%= @post.post_image_updated_at.to_time.strftime('%B %e at %l:%M %p') %></li>
                    <li id="date"><span>MD5:</span><%= @post.md5 %></li>
                </ul>
            </div>
        </div>
    <% end %>

    <div class="comments zone">

        <% if user_signed_in? %>
            <%= form_tag post_comments_path(@post.number), id: "comment-form" ,class: "comment-form" do |comment| %>
                <label for="add_comment"><h3>Add a comment<span id="char_count">Maximum <%= max_comment_length %> characters</span></h3></label>
                <textarea id="add_comment" data-length="<%= max_comment_length %>" name="comment[text]" placeholder="Write your message here "></textarea>
                <div class="button-zone">
                    <button type="submit" form="comment-form" class="btn btn-blue" type="submit">Send <%= fa_icon 'comment' %></button>
                </div>
            <% end %>
        <% else %>
            <h3>Add a comment</h3>
            <p><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> to post a comment.</p>
            <br />
        <% end %>

        <% if @post.comments.any? %>
            <h3><%= fa_icon "comments-o" %> Comments</h3>
            <div class="comments-zone">
                <% @post.comments.includes(:user).each_with_index do |comment,index| %>
                    <%= cell(:comment, comment, post: @post, index: index).(:show) %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<input type="checkbox" class="lightbox_switch" id="zoom_post">
<label for="zoom_post" class="lightbox">
    <label for="zoom_post" class="close">close</label>
    <img src='<%= @post.post_image.url %>' title="Clic to close">
</label>
