<div id="post-banner">
  <div class="row">
    <h2>Titre du post ou ID</h2>
    <span class="score"><span id="overdoses">20</span><span class="shortage">6</span></span>
  </div>
</div>

<div class="row posts">
  <div class="post-container">
    <div class="post" style="background-image: url(<%= image_url('post.jpg') %>)">
      <img src="<%= image_url('post.jpg') %>" border="0" height="720px" width="1280px"/>
      <div class="post-info clearfix">
        <label id="id">ID:666</label>
        <label id="width-height">SIZE:1280x720</label>
        <label id="type">TYPE:.JPG</label>
        <label id="size">SIZE:203KO</label>
        <div class="source">
          <span><%= fa_icon "upload" %> Uploaded by: <a>Eternialz</a></span>
          <span><%= fa_icon "file" %> Source: Gj-Bu</span>
        </div>
      </div>
    </div>
    <div class="post-details row">
      <div class="f3 column tags">
        <h3><%= fa_icon "tag" %> Tags</h3>
        <a class="tag">1girl</a>
        <a class="tag">Blush</a>
        <a class="tag">Eating</a>
        <a class="tag">Gj-Bu</a>
        <a class="tag">Intruder</a>
        <a class="tag">Loli</a>
        <a class="tag">Ponytail</a>
        <a class="tag">Purple hair</a>
        <a class="tag">Purple eyes</a>
        <a class="tag">School uniform</a>
      </div>
      <div class="f3 column characters">
        <h3><%= fa_icon "group" %> Character(s)</h3>
        <a class="tag">Shion Sumeragi</a>
      </div>
      <div class="f3 column authors">
        <div class="author">
          <h3><a><%= fa_icon "user" %> Author: Doga Kobo</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a><%= fa_icon "link" %> website</a><a><%= fa_icon "user-plus" %> profile</a>
        </div>
      </div>
      <div class="f3 column actions">
        <h3><%= fa_icon "bolt" %> Actions</h3>
        <a class="action action-green"><%= fa_icon "download" %> Download</a>
        <a class="action action-green"><%= fa_icon "heart" %> Add To Favorites</a>
        <a class="action action-green"><%= fa_icon "search" %> More from the same author</a>
        <a class="action action-green"><%= fa_icon "google" %> Search image on google</a>
        <a class="action action-green"><%= fa_icon "close" %> Report post</a>
        <a class="action action-pink previous"><%= fa_icon "arrow-circle-left" %> Previous</a>
        <a class="action action-pink next">Next <%= fa_icon "arrow-circle-right" %> </a>
      </div>
    </div>
  </div>
  <div class="comments">
    <h2><%= fa_icon "comments-o" %> Commentaires</h2>
    <div class="comments-zone">
      <% @comments.each do |comment| %>
        <div class="comment">
          <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
          <div class="comment-content">
            <a><h5>Pseudonyme</h5></a><span>score: 10</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="comment">
            <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
            <div class="comment-content">
              <a><h5 class="contributor">Pseudonyme</h5></a><span>score: 10</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="comment">
            <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
            <div class="comment-content">
              <a><h5 class="administrator">Pseudonyme</h5></a><span>score: 10</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="comment">
            <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
            <div class="comment-content">
              <a><h5 class="moderator">Pseudonyme</h5></a><span>score: 10</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="comment">
            <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
            <div class="comment-content">
              <a><h5 class="developper">Pseudonyme</h5></a><span>score: 10</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="comment">
            <a><img class="avatar" src="<%= image_url('default_user.png') %>" title="" alt="" height="60" width="60"/></a>
            <div class="comment-content">
              <a><h5 class="banned">Pseudonyme</h5></a><span class="space"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <form class="comment-form zone">
      <h3>Add a comment</h3>
      <textarea name="" placeholder="Write your message here"></textarea>
      <div class="button-zone">
        <input class="btn" type="submit" value="Send">
      </div>
    </form>
  </div>
</div>
