<h2>Users</h2>
<p>List of all reported users</p>
<ul class="admin_list users">
  <% @users.each do |user| %>
    <li>
      <span class="button_list">
        <a href="<%= user_path(user.name) %>"class="btn btn-yellow"><%= fa_icon "eye"%>profile</a>
        <a class="btn btn-blue"><%= fa_icon "edit"%>manage role</a>
        <a class="btn btn-red"><%= fa_icon "exclamation"%>ban</a>
      </span>
      <img class="avatar" src='<%= user.avatar(:tiny) %>'>
      <h3><%= user.name %></h3><br /><br />
      <span><%= user.role %></span>
    </li>
  <% end %>
</ul>
