<%= form_for @user,
    url: user_path(@user.name),
    html: {
        method: :patch,
        "data-controller": "user-edit"
    } do |f| %>
    <div class="user-show">

        <div class="user-show-alert" data-target="user-edit.alert">
            <div class="user-show-alert-content">
                Carefull — You have unsaved changes <a class="user-show-alert-reset" href="<%= user_path(@user.name) %>">Cancel</a> <button for="submit" class="button-important">Save changes <i class="fa fa-save"></i></button>
            </div>
        </div>

        <div class="zone user-show-header">
            <div class="user-show-identity">
                <div class="user-show-identity-section user-show-user">
                    <div class="user-show-avatar avatar">
                        <% if @user.avatar.attached? %>
                            <img src="<%= url_for @user.avatar %>" data-target="user-edit.file" width="120" height="120" />
                        <% else %>
                            <%= image_tag "/images/default-user.png", data: { target: "user-edit.file" }, class: "avatar" %>
                        <% end %>
                    </div>
                    <h6 class="user-show-name role hide-medium" data-role="<%= @user.role %>"><%= @user.name %></h6>
                    <h6 class="user-show-name-mobile show-medium"><%= @user.name %></h6>
                    <span class="user-show-item hide-medium">
                        joined<br />
                        <%= @user.created_at.strftime('%Y/%m/%d') %>
                    </span>
                </div>

                <%= component "users/level" %>

                <div class="user-show-identity-section hide-medium">
                    <button for="submit" class="button-important">Save changes <i class="fa fa-save"></i></button>
                </div>
            </div>
            <div class="user-show-informations padding">
                <h5 class="title title-compact">
                    <%= component "/shared/anchor", {anchor: "about"} do %>
                        About me
                    <% end %>
                </h5>
                <h6 class="subtitle">Biography</h6>
                <div class="form-field margin margin-bottom">
                    <%= f.text_area :biography, class: "form-textarea" %>
                </div>
                <h6 class="subtitle">Avatar (500kb max, 1:1)</h6>
                <div class="avatar-upload margin margin-bottom">
                    <div class="form-file">
                        <%= f.file_field :avatar,
                            class: "form-file-input",
                            "data-target": 'user-edit.input',
                            "data-action": 'change->user-edit#input'
                        %>
                        <div class="form-file-label">
                            <%= f.label :avatar, class: 'form-file-label' do %>
                                <span class="button-important">Browse <i class="fa fa-folder-open"></i></span>
                            <% end %>
                        </div>
                    </div>
                </div>
                <h6 class="subtitle">Links</h6>
                <div class="form-field">
                    <label class="form-label"><i class="fa fa-link"></i> Website</label>
                    <%= f.text_field :website, class: "form-input", placeholder: "https://mywebsite.me" %>
                </div>
                <div class="form-field">
                    <label class="form-label"><i class="fab fa-twitter"></i> Twitter</label>
                    <%= f.text_field :twitter, class: "form-input", placeholder: "https://twitter.com/username" %>
                </div>
                <div class="form-field">
                    <label class="form-label"><i class="fab fa-facebook"></i> Facebook</label>
                    <%= f.text_field :facebook, class: "form-input", placeholder: "https://www.facebook.com/my.profile" %>
                </div>
            </div>
        </div>
    </div>

    <div class="zone">
        <h5 class="title title-compact">
            <%= component "/shared/anchor", {anchor: "tags"} do %>
                My Tags
            <% end %>
        </h5>
        <h6 class="subtitle">
            Replace spaces in each tag with an underscore and add space to separate tags
        </h6>
        <div class="columns">
            <div class="col col-6 col-12-small padding">
                <label class="form-label"><i class="fa fa-tag"></i> Favorites tags</label>
                <div class="field_area">
                    <%= text_area :tags, :favorites, class: "form-textarea", placeholder: "1girl brown_hair", value: @favorites_tags  %>
                </div>
            </div>

            <div class="col col-6 col-12-small padding">
                <label class="form-label"><i class="fa fa-tag"></i> Blacklisted tags</label>
                <div class="field_area">
                    <%= text_area :tags, :blacklisted, class: "form-textarea", placeholder: "1boy", value: @blacklisted_tags %>
                </div>
            </div>
        </div>
    </div>

    <div class="zone">
        <h5 class="title title-compact">
            <%= component "/shared/anchor", {anchor: "parameters"} do %>
                Parameters
            <% end %>
        </h5>
        <h6 class="subtitle">
            Consents
        </h6>
        <%= component "shared/parameters", {f: f} %>
    </div>

    <div class="zone">
        <h5 class="title title-compact">
            <%= component "/shared/anchor", {anchor: "data"} do %>
                My Data
            <% end %>
        </h5>
        <h6 class="subtitle">
            Export data
        </h6>
        <button class="button-important margin margin-top">Download export <i class="fa fa-download"></i></button>
    </div>

    <div class="zone">
        <h5 class="title title-compact color-red">
            <%= component "/shared/anchor", {anchor: "danger"} do %>
                <i class="fa fa-exclamation-triangle"></i> Danger zone
            <% end %>
        </h5>
        <h6 class="subtitle">
            Delete account
        </h6>
        <button class="button-important button-error margin margin-top">Delete account<i class="fa fa-times"></i></button>
        <p>After clicking on the button and confirming your password, the <strong>redemption period</strong> of <strong>30 days</strong> will start.<br />
        Until the end of that period, you will be able to export your data and/or <strong>cancel the deletion</strong>.</p>
    </div>
<% end %>
