<div class="container">
  <a href="<%= root_path %>"><h1>moeverdose.moe</h1></a>
  <a class="user">
    <img src="<%= image_url('default_user.png') %>" />
    <span>Eternialz<br />666 uploads</span>
  </a>
  <span>All lolis</span>
  <ul>
    <li><a href="<%= posts_path %>" title="Posts">Posts</a></li>
    <li><a href="<%= new_post_path %>" title="Upload">Upload</a></li>
    <li><a>Authors</a></li>
    <li><a>Users</a></li>
    <li><%= link_to 'Help', '/pages/help/index', title: "Help pages with FAQ" %></li>
    <li><%= link_to 'Moeverdose', '/pages/about', title: "About Moeverdose" %></li>
    <li><a href="https://twitter.com/moeverdose" title="Moeverdoe Twitter"><%= fa_icon "twitter"%> Twitter</a></li>
  </ul>
</div>
