<div class="container">
  <a href="<%= root_path %>"><h1>moeverdose.moe</h1></a>
  <a class="user">
    <img src="<%= image_url('default_user.png') %>" />
    <span>Eternialz<br />666 uploads</span>
  </a>
  <span>All lolis</span>
  <ul>
    <li><a href="<%= posts_path %>">Posts</a></li>
    <li><a>authors</a></li>
    <li><a>users</a></li>
    <li><%= link_to 'Help', '/pages/help/index' %></li>
    <li><%= link_to 'Moeverdose', '/pages/about' %></li>
  </ul>
</div>
