<div class="submenu">
  <ul>
    <h3><a href="<%= posts_path %>" title="Posts">Posts</a></h3>
    <li><a href="<%= posts_path %>" title="All Posts">All Posts</a></li>
    <li><a href="<%= new_post_path %>" title="Upload">Upload</a></li>
    <li><a>Best Posts</a></li>
    <li><a>Tags</a></li>
  </ul>
  <ul>
    <h3><a>Authors</a></h3>
    <li><a>All Authors</a></li>
    <li><a>Add Author</a></li>
    <li><a>Best Authors</a></li>
  </ul>
  <ul>
    <h3><a>Users</a></h3>
    <li><a>All Users</a></li>
    <li><a>Leaderboard</a></li>
  </ul>
  <ul>
    <h3><%= link_to 'Help', '/pages/help/index' %></h3>
    <li><%= link_to 'Rules', '/pages/help/rules' %></li>
    <li><%= link_to 'Posts', '/pages/help/posts' %></li>
    <li><%= link_to 'Upload', '/pages/help/upload' %></li>
    <li><%= link_to 'Search Engine', '/pages/help/search' %></li>
    <li><%= link_to 'Keyboard', '/pages/help/keyboard' %></li>
    <li><%= link_to 'Chat', '/pages/help/chat' %></li>
  </ul>
  <ul>
    <h3><%= link_to 'Moeverdose', '/pages/about' %></h3>
    <li><%= link_to 'About', '/pages/about' %></li>
    <li><%= link_to 'Team', '/pages/team' %></li>
    <li><%= link_to 'Source', '/pages/source' %></li>
    <li><%= link_to 'Licence', '/pages/licence' %></li>
    <li><a>Changelog</a></li>
    <li><a>Stats</a></li>
  </ul>
  <ul class="my-account">
    <h3><a><%= fa_icon "user" %> My Account</a></h3>
    <li><a>Profile</a></li>
    <li><a>Options</a></li>
    <li><a>Favorites</a></li>
    <li><a>Join Chat</a></li>
    <li><a>Log Out</a></li>
  </ul>
</div>
