<div class="container">
  <a href="<%= root_path %>"><h1>moeverdose.moe</h1></a>
  <a class="user">
    <img src="<%= image_url('default_user.png') %>" />
    <span>Eternialz<br />666 uploads</span>
  </a>
  <span>All lolis</span>
  <ul>
    <li><%= link_to 'Posts', '/posts', title: "Post listing" %></li>
    <li><%= link_to 'Authors', '/authors', title: "Author listing" %></li>
    <li><%= link_to 'User', '/users', title: "User listing" %></li>
    <li><%= link_to 'Help', '/pages/help/index', title: "Help pages with FAQ" %></li>
    <li><%= link_to 'Moeverdose', '/pages/about', title: "About Moeverdose" %></li>
    <li><a href="https://twitter.com/moeverdose" title="Moeverdoe Twitter"><%= fa_icon "twitter"%> Twitter</a></li>
  </ul>
</div>
