<nav class="menu">
    <div class="row">
        <div class="container">
            <a id="site" href="<%= root_path %>"><h1><%= site_name %></h1></a>
            <a id="menu_label"><%= fa_icon 'bars' %></a>
            <div class="user">
                <% if user_signed_in? %>
                    <% if current_user.avatar.attached? %>
                      <a class="avatar" href="<%= user_path(current_user.name) %>" id="my_account"><%= image_tag url_for(current_user.avatar), width: 60, height: 60 %></a>
                    <% else %>
                      <a class="avatar" href="<%= user_path(current_user.name) %>" id="my_account"><%= image_tag image_path('default_user.png'), width: 60, height: 60 %></a>
                    <% end%>
                    <a href="<%= user_path(current_user.name) %>" id="username"><%= current_user.name %></a>
                <% else %>
                    <a class="avatar" href="<%= new_user_registration_path %>"><%= image_tag image_path('default_user.png'), width: 60, height: 60 %></a>
                <% end %>
            </div>
            <ul>
                <li><%= link_to 'Posts', posts_path, title: 'Posts' %></li>
                <li><%= link_to 'Upload', new_post_path, title: 'Upload' %></li>
                <li><%= link_to 'Tags', tags_path, title: 'Tags' %></li>
                <li><%= link_to 'Authors', authors_path, title: 'Authors' %></li>
                <li><%= link_to 'Chat', chat_url, target: "_blank", title: 'Chat' %></li>
                <li><%= link_to 'About', "/pages/about", title: 'About' %></li>
                <li><%= link_to 'Help', "/pages/help/index", title: 'Help' %></li>
                <li>
                    <%= link_to twitter_url, target: "_blank", title: 'Twitter' do %>
                        <%= fa_icon "twitter"%>
                    <% end %>
                </li>
            </ul>
            <br/>
            <span id="random"><%= cell(:random_message).(:show) %></span>
        </div>

        <div class="submenu" id="submenu">
            <ul>
                <input id="sub_1" type="radio" name="sub" checked>
                <label title="Posts" for="sub_1"><h3>posts</h3></label>
                <div>
                    <li><a href="<%= posts_path %>" title="All Posts">all</a></li>
                    <li><%= link_to 'random', random_path %></li>
                    <li><a href="<%= new_post_path %>" title="Upload">upload</a></li>
                    <li><%= link_to 'tags', tags_path, title: 'Tags' %></li>
                    <li><%= link_to 'authors', authors_path, title: 'Authors' %></li>
                </div>
            </ul>

            <ul>
                <input id="sub_2" type="radio" name="sub">
                <label title="Community" for="sub_2"><h3>community</h3></label>
                <div>
                    <li><%= link_to 'chat', chat_url, target: "_blank", title: 'Chat' %></li>
                    <li><%= link_to 'users', users_path %></li>
                    <li><%= link_to 'twitter', twitter_url %></li>
                </div>
            </ul>

            <ul>
                <input id="sub_3" type="radio" name="sub">
                <label title="Help" for="sub_3"><h3>help</h3></label>
                <div>
                    <li><%= link_to 'index', '/pages/help/index' %></li>
                    <li><%= link_to 'keyboard', '/pages/help/keyboard' %></li>
                    <li><%= link_to 'posts', '/pages/help/rules' %></li>
                    <li><%= link_to 'copyright request', '/pages/help/copyright' %></li>
                </div>
            </ul>

            <ul>
                <input id="sub_4" type="radio" name="sub">
                <label title="<%= site_name %>" for="sub_4"><h3><%= site_name.downcase %></h3></label>
                <div>
                    <li><%= link_to 'about', '/pages/about' %></li>
                    <li><%= link_to 'team', '/pages/team' %></li>
                    <li><%= link_to 'source code', '/pages/source' %></li>
                    <li><%= link_to 'terms of service', '/pages/tos' %></li>
                    <li><%= link_to 'cookies & privacy', '/pages/cookies' %></li>
                </div>
            </ul>

            <% if user_signed_in? %>
                <ul class="my-account">
                    <li><%= link_to "Profile", user_path(current_user.name) %></li>
                    <li><%= link_to "Options", edit_user_path(current_user.name) %></li>
                    <li><%= link_to 'Favorites', favorites_path(current_user.name) %></span></li>
                    <li><%= link_to 'Uploads', uploads_path(current_user.name) %></span></li>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span></li>
                </ul>
            <% else %>
                <ul class="login register">
                    <h3>Need an account?</h3>
                    <p>With an account you can upload images, edit posts, add comments and many other things.</p>
                    <p>No activation necessary</p>
                    <%= link_to new_user_registration_path, class: 'btn btn-blue' do %>
                    Sign up <%= fa_icon 'user-plus' %>
                    <% end %>
                </ul>

                <ul class="login">
                    <h3>Sign In</h3>
                    <%= form_for(:user, id: 'login', :url => session_path(:user)) do |f| %>
                    <%= f.email_field :email, placeholder: 'email', autocomplete: "off" %>
                    <%= f.password_field :password, placeholder: 'password', autocomplete: "off" %>
                    <%= link_to "Forgot your password?", new_password_path(:user) %>
                    <button class="btn btn-blue" type="submit">Sign in <%= fa_icon "sign-in" %></button>
                    <% end %>
                </ul>
            <% end %>
        </div>

    </div>
</nav>
