<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>

    <body>
        <%= render "layouts/menu" %>

        <%= render "layouts/notifications" %>

        <div class="row">
            <div class="admin">
                <ul class="navigation">
                    <li><a href="<%= admin_dashboard_path %>"><%= fa_icon 'dashboard' %> Dashboard</a></li>
                    <li><a href="<%= admin_stats_path %>"><%= fa_icon 'pie-chart' %> Stats</a></li><br />
                    <li><a href="<%= admin_posts_path %>"><%= fa_icon 'image' %> Posts</a></li>
                    <li><a href="<%= admin_comments_path %>"><%= fa_icon 'comments' %> Comments</a></li>
                    <li><a href="<%= admin_users_path %>"><%= fa_icon 'users' %> Users</a></li>
                    <li>
                        <a href="<%= admin_news_index_path %>"><%= fa_icon 'newspaper-o' %> News</a>
                        <ul>
                            <li><a href="<%= admin_news_index_path %>"><%= fa_icon 'list' %> All News</a></li>
                            <li><a href="<%=  new_admin_news_path %>"><%= fa_icon 'plus' %> Create News</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="<%= admin_levels_path %>"><%= fa_icon 'heartbeat' %> Levels</a>
                        <ul>
                            <li><a href="<%= admin_levels_path %>"><%= fa_icon 'list' %> All Levels</a></li>
                            <li><a href="<%=  new_admin_level_path %>"><%= fa_icon 'plus' %> Create Level</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render "layouts/footer" %>

    </body>
</html>
