<!DOCTYPE html>
<html>
    <head>
        <title><%= defined?(@title) ? @title : site_name %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <% if flash.any? %>
            <div class="row flashes">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        <% end %>

        <div class="notifications">
            <div class="notifications_container">
            </div>
        </div>

        <nav class="menu">
            <div class="row">
                <% if content_for?(:menu) %>
                    <%= yield(:menu) %>
                <% else %>
                    <%= render "layouts/default_menu" %>
                <% end %>
                <% if content_for?(:submenu) %>
                    <%= yield(:submenu) %>
                <% else %>
                    <%= render "layouts/default_submenu" %>
                <% end %>
            </div>
        </nav>
        <div class="row">
            <div class="admin">
                <ul class="navigation">
                    <li><a href="<%= admin_dashboard_path %>"><%= fa_icon 'dashboard' %> Dashboard</a></li>
                    <li><a href="<%= admin_stats_path %>"><%= fa_icon 'pie-chart' %> Stats</a></li><br />
                    <li><a href="<%= admin_posts_path %>"><%= fa_icon 'image' %> Posts</a></li>
                    <li><a href="<%= admin_comments_path %>"><%= fa_icon 'comments' %> Comments</a></li>
                    <li><a href="<%= admin_users_path %>"><%= fa_icon 'users' %> Users</a></li>
                    <li>
                        <a href="<%= admin_news_index_path %>"><%= fa_icon 'newspaper-o' %> News</a>
                        <ul>
                            <li><a href="<%= admin_news_index_path %>"><%= fa_icon 'list' %> All News</a></li>
                            <li><a href="<%=  new_admin_news_path %>"><%= fa_icon 'plus' %> Create News</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="<%= admin_levels_path %>"><%= fa_icon 'heartbeat' %> Levels</a>
                        <ul>
                            <li><a href="<%= admin_levels_path %>"><%= fa_icon 'list' %> All Levels</a></li>
                            <li><a href="<%=  new_admin_level_path %>"><%= fa_icon 'plus' %> Create Level</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render "layouts/footer" %>

    </body>
</html>
