<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>

    <body>
        <%= render "layouts/menu" %>

        <%= render "layouts/notifications" %>

        <div class="row">
            <%= yield %>
        </div>

        <%= render "layouts/footer" %>


        <%= render "layouts/cookies_disclaimer" %>
    </body>
</html>
