<!DOCTYPE html>
<html>
  <head>
    <title>Moeverdose</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="menu">
      <div class="row">
        <% if content_for?(:menu) %>
          <%= yield(:menu) %>
        <% else %>
          <%= render "layouts/default_menu" %>
        <% end %>
        <% if content_for?(:submenu) %>
          <%= yield(:submenu) %>
        <% else %>
          <%= render "layouts/default_submenu" %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="row">
        <ul class="footer-nav">
          <li><a>home</a></li>
          <li><a>posts</a></li>
          <li><a>users</a></li>
          <li><a>help</a></li>
          <li><a>team</a></li>
          <li><a>authors</a></li>
          <li><a>join discord chat</a></li>
          <li style="float:right;position:absolute;right:0;"><a title="Scroll to top" href="#">▴</a></li>
        </ul>
        <div class="column f4">
          <h2 class="footer-title">Links</h3>
          <ul class="footer-links">
            <li><a>home</a></li>
            <li><a>posts</a></li>
            <li><a>users</a></li>
            <li><a>help</a></li>
            <li><a>team</a></li>
          </ul>
          <ul class="footer-links">
            <li><a>home</a></li>
            <li><a>posts</a></li>
            <li><a>users</a></li>
            <li><a>help</a></li>
            <li><a>team</a></li>
          </ul>
        </div>
        <div class="column f4">
          <h3 class="footer-title">Friends of moeverdose</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone.</p>
        </div>
        <div class="column f4">
          <h4 class="footer-title">Stats<a href="#">more</a></h3>
          <div class="column f6">
            <dl>
              <dt>Posts</dt>
              <dd>666 Images</dd>
            </dl>
            <dl>
              <dt>Users</dt>
              <dd>404 Users</dd>
            </dl>
          </div>
          <div class="column f6">
            <dl>
              <dt>Authors</dt>
              <dd>500 Authors</dd>
            </dl>
            <dl>
              <dt>Lolis</dt>
              <dd>Infinite lolis</dd>
            </dl>
          </div>
        </div>
      </div>
      <span class="copyright">© 2016 Moeverdose - </span><a>Mentions Légales</a>
    </footer>
  </body>
</html>
