<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600" rel="stylesheet">
        <%= javascript_include_tag 'application', async: Rails.env.production?, 'data-turbolinks-track': 'reload' %>

        <%= csrf_meta_tags %>

        <title><%= defined?(@title) ? @title : site_name %></title>
        
        <%= yield(:cards) %>
    </head>

    <body>
        <% if flash.any? %>
            <div class="row flashes">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        <% end %>

        <div class="notifications">
            <div class="notifications_container">
            </div>
        </div>

        <nav class="menu">
            <div class="row">
                <% if content_for?(:menu) %>
                    <%= yield(:menu) %>
                <% else %>
                    <%= render "layouts/default_menu" %>
                <% end %>
                <% if content_for?(:submenu) %>
                    <%= yield(:submenu) %>
                <% else %>
                    <%= render "layouts/default_submenu" %>
                <% end %>
            </div>
        </nav>
        <div class="row">
            <%= yield %>
        </div>

        <%= render "layouts/footer" %>

    </body>
</html>
