<!DOCTYPE html>
<html>
  <head>
    <title>Moeverdose</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="menu">
      <h1>moeverdose.moe</h1>
      <ul>
        <% if content_for?(:menu) %>
          <%= yield(:menu) %>
        <% else %>
          <%= render "layouts/default_menu" %>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
