<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>
    <body>
        <%= component "main-menu" %>


        <%= component "lightbox" %>

        <div class="row view-content">
            <%= component "breadcrumbs" %>
            <%= yield %>
        </div>

        <%= component "main-footer" %>

        <%= component "notification" %>
    </body>
</html>
